<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
      <package android:name="com.kakao.talk" /> <!-- 카카오 페이 -->
      <package android:name="com.nhnent.payapp" /> <!-- 삼성페이, 페이코 -->
      <package android:name="viva.republica.toss" /> <!-- 토스 -->
      <package android:name="com.kbcard.cxh.appcard" /> <!-- KB -->
      <package android:name="com.lotte.lpay" /> <!-- L.pay -->
      <package android:name="com.lottemembers.android" /> <!-- L.POINT -->
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:supportsRtl="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>
